[MASTER]
disable=
    C0114, # missing-module-docstring
    W0221, # overriding method with *args
    R0914, # allow multiples local variables

    E1123, # issues between pylint and tensorflow since 2.2.0
    E1120, # see https://github.com/PyCQA/pylint/issues/3613

[FORMAT]
max-line-length=100
max-args=8