site_name: Xplique

google_analytics:
  - UA-132343476-2
  - auto

nav:
  - Home: index.md
  - Attributions methods:
      - API Description: api/attributions/api_attributions.md
      - DeconvNet: api/attributions/deconvnet.md
      - Grad-CAM: api/attributions/grad_cam.md
      - Grad-CAM++: api/attributions/grad_cam_pp.md
      - Gradient Input: api/attributions/gradient_input.md
      - Guided Backprop: api/attributions/guided_backpropagation.md
      - Integrated Gradient: api/attributions/integrated_gradients.md
      - KernelSHAP: api/attributions/kernel_shap.md
      - Lime: api/attributions/lime.md
      - Occlusion sensitivity: api/attributions/occlusion.md
      - Rise: api/attributions/rise.md
      - Saliency: api/attributions/saliency.md
      - SmoothGrad: api/attributions/smoothgrad.md
      - SquareGrad: api/attributions/square_grad.md
      - Sobol Attribution Method: api/attributions/sobol.md
      - Hsic Attribution Method: api/attributions/hsic.md
      - VarGrad: api/attributions/vargrad.md
  - Concept based:
      - Cav: api/concepts/cav.md
      - Tcav: api/concepts/tcav.md
  - Feature visualization:
      - Feature visualization: api/feature_viz/feature_viz.md
  - Attributions metrics:
      - API Description: api/metrics/api_metrics.md
      - Deletion: api/metrics/deletion.md
      - Insertion: api/metrics/insertion.md
      - Deletion TS: api/metrics/deletion_ts.md
      - Insertion TS: api/metrics/insertion_ts.md
      - MuFidelity: api/metrics/mu_fidelity.md
      - AverageStability: api/metrics/avg_stability.md
  - Tutorials: tutorials.md
  - Contributing: contributing.md
  - Callable: callable.md

theme:
  name: "material"
  logo: assets/x_logo.png
  favicon: assets/x_logo.png
  palette:
    - scheme: default
      primary: dark
      accent: indigo
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
    - scheme: slate
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
  icon:
    repo: fontawesome/brands/github

plugins:
  - numkdoc
  - search

markdown_extensions:
  - footnotes
  - extra
  - admonition
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.highlight
  - pymdownx.superfences
  - codehilite
  - toc:
      permalink: true
      toc_depth: 1-2
  - def_list
  - pymdownx.tasklist:
      custom_checkbox: true
      clickable_checkbox: true
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg

extra_css:
  - css/custom.css

extra_javascript:
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
  - js/custom.js

repo_name: "deel-ai/xplique"
repo_url: "https://github.com/deel-ai/xplique"
