name: "Build and Publish Latest Release Docs"

on:
  release:
    types: [published]
  workflow_dispatch:

permissions:
  contents: write

jobs:

  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: "Checkout"
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: "Set up Python"
        uses: actions/setup-python@v2
        with:
          python-version: '3.10'

      - name: "Install Dependencies"
        run: |
          python -m pip install --upgrade pip
          pip install mkdocs mkdocs-material numkdoc mike
          pip install -r requirements.txt
          pip install torch
          pip install -e .

      - name: "Setup Docs Deploy"
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'

      - name: "Deploy Github Pages"
        run: |
          mike deploy --push --update-aliases ${{ github.event.release.tag_name }} latest
          mike set-default --push latest
