name: pypi

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install setuptools wheel twine
    - name: Build and publish
      env:
        TWINE_USERNAME: __token__
        TWINE_PASSWORD: ${{ secrets.XPLIQUE_TOKEN }}
      run: |
        # package classic xplique
        python setup.py sdist bdist_wheel
        # package xplique-cpu
        export PACKAGE_CPU=1
        python setup.py sdist bdist_wheel
        # publish both
        twine upload dist/*
